:root {
  --light-blue: #a2c3f2;
  --dark-blue: #1a1a40;
  --fcc-blue: #2b2b5c;
  --light-yellow: #ffcc66;
  --dark-yellow: #ffb733;
  --light-pink: #ffb3b3;
  --dark-red: #990000;
  --light-green: #4BB543;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: var(--fcc-blue);
  color: var(--light-blue);
}

h1 {
  text-align: center;
  color: var(--dark-yellow);
}

.container {
  width: 90%;
  max-width: 680px;
  background-color: var(--light-blue);
  padding: 20px;
  border-radius: 8px;
}

h1,
.container,
.output {
  margin: 20px auto;
}

label,
legend {
  font-weight: bold;
  color: var(--dark-blue);
}

.input-container {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--light-yellow);
  border: 2px solid var(--dark-yellow);
  color: var(--dark-blue);
  padding: 10px;
  border-radius: 5px;
}

button,
input,
select {
  min-height: 24px;
  color: var(--dark-blue);
}

fieldset,
label,
button,
input,
select {
  margin-bottom: 10px;
}

.output {
  border: 2px solid var(--light-green);
  padding: 10px;
  text-align: center;
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.hide {
  display: none;
}

.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color: var(--dark-red);
}

.deficit {
  color: var(--light-green);
}
